backend/node_modules/
frontend/build/ 
frontend/*.user
frontend/NostoTalletusDLL/build/
frontend/NostoTalletusDLL/*.user
frontend/TestiRFID/build/
frontend/TiliDLL/build/
frontend/TestiRFID/*.user
frontend/TiliDLL/*.user
frontend/nostoTalletusHistoriaDLL/build/
frontend/nostoTalletusHistoriaDLL/*.user
frontend/KirjautumisDLL/*.user
frontend/KirjautumisDLL/build/
frontend/build/
frontend/build/
frontend/DLLTalletus/build/
frontend/DLLTalletus/*.user


